Fixed_ug.pdf
Float_ug.pdf
work/*
transcript
scripts/test.py
.vscode/launch.json
scripts/pylib/__pycache__/FixedPoint.cpython-38.pyc
figures/*
sim_top.do
.vscode/settings.json
notes.txt
*.png
8sampling.pdf
hdl/sim/testbench_tools/sim_random_tb.vhd
hdl/legacy/*